In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader as pdr

In [4]:
pip install yfinance as yf

Requirement already satisfied: yfinance in c:\users\elliot\anaconda3\lib\site-packages (0.2.54)
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

In [7]:
import yfinance as yf

In [8]:
yf.__version__

'0.2.54'

In [11]:
start_date = "1980-01-01"
end_date = "2024-12-31"

In [13]:
ftse350cm = ['IBST.L', 'BBY.L', 'MSLH.L', 'KIE.L' , 'KLR.L']

In [21]:
tickers = ['IBST.L', 'BBY.L', 'MSLH.L', 'KIE.L' , 'KLR.L', 'PSN.L', 'TW.L', 'BKG.L']
data = yf.download(tickers, start=start_date, end=end_date)
close = data['Close']
close.to_csv('construction_stocks.csv')

[*********************100%***********************]  8 of 8 completed

In [35]:
tickers = ['FTNMX2350.L', 'PSN.L', 'BDEV.L', 'TW.L', 'BKG.L']

In [34]:
data = yf.download(tickers, start=start_date, end=end_date)

[*********************100%***********************]  5 of 5 completed

2 Failed downloads:
['NMX501010', 'BDEV.L']: YFTzMissingError('possibly delisted; no timezone found')

In [23]:
close

Ticker,BBY.L,BKG.L,IBST.L,KIE.L,KLR.L,MSLH.L,PSN.L,TW.L
Date,,,,,,,,
1988-07-01,195.681900,202.653763,NaN,NaN,NaN,70.613358,137.990082,207.049393
1988-07-04,193.295456,200.219376,NaN,NaN,NaN,70.613358,138.756348,206.084213
1988-07-05,196.278442,200.219376,NaN,NaN,NaN,70.613358,140.289536,205.601456
1988-07-06,193.892105,200.219376,NaN,NaN,NaN,70.613358,139.522507,205.118912
1988-07-07,195.085175,200.219376,NaN,NaN,NaN,70.613358,140.289536,205.118912
...,...,...,...,...,...,...,...,...
2024-12-20,446.000000,3897.642090,176.000000,147.399994,1432.0,292.000000,1211.500000,122.150002
2024-12-23,448.399994,3885.643311,175.600006,148.000000,1440.0,287.500000,1211.000000,122.099998
2024-12-24,453.600006,3895.642334,179.000000,150.000000,1480.0,293.000000,1182.000000,121.500000
2024-12-27,452.000000,3879.643799,177.399994,149.000000,1450.0,290.000000,1186.000000,120.599998
2024-12-30,450.399994,3863.645264,174.600006,146.800003,1426.0,288.500000,1177.500000,120.699997

In [20]:
df.plot(data)

NameError: name 'df' is not defined